.widget_container {
  z-index: 1000;
  position: fixed;
  right: 9px;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s ease-in-out;

  &__open {
    border-radius: 0;
  }

  #telephone {
    background-image: url(https://livechat.chat2desk.com/images/widget/call.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }

  .telephone {
    width: 45px;
    height: 45px;
  }
  .btn_whatsapp {
    font-size: 32px;
    text-decoration: none;
    background-color: var(--bs-primary);
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
  }
  .btn_call {
    font-size: 21px;
    border-radius: 50%;
    background-color: #355db7;
    padding: 9px 13px;
    color: #fff;
    -webkit-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  }
  .btn_onlinechat {
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #355db7;
    padding: 11px 12px;
    -webkit-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  }

  .btn_close {
    font-size: 25px;
    color: red;
    border-radius: 50%;
    padding: 5px 10px;
  }

  .btn_onlinechat_background {
    border-radius: 50%;
    background-color: #fff;
    padding: 15px;
    -webkit-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  }

  .btn_messenger {
    background-color: transparent;
    border: 1px solid red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
  }

  .btn_open img {
    width: 40px;
  }

  .input-focus-name {
    outline: 2px solid var(--bs-primary);
  }

  .input-focus-tel {
    outline: 2px solid var(--bs-primary);
  }

  .input-focus-email {
    outline: 2px solid var(--bs-primary);
  }

  .name-label {
    color: gray;
    margin: 20px 0 0 15px;
  }

  .tel-label {
    color: gray;
    margin: 0 15px;
  }

  .email-label {
    color: gray;
    margin: 0 15px;
  }

  .top-div {
    background: var(--bs-primary);
    background-color: var(--bs-primary);
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
  }

  .bottom-div {
    display: flex;
    flex-direction: column;
  }

  .title {
    color: rgb(255, 255, 255);
    padding: 10px 0 0 10px;
    font-weight: 600;
    font-size: 14px;
  }

  .name-input {
    margin: 5px 0 40px 0;
    border: 1px solid rgb(209, 209, 209) !important;
    width: 90%;
    padding: 10px 0 10px 5px;
    border-radius: 3px;
    margin: 5px auto 15px auto;
  }

  .tel-input {
    margin: 5px 0 40px 0;
    border: 1px solid rgb(209, 209, 209) !important;
    width: 90%;
    padding: 10px 0 10px 5px;
    border-radius: 3px;
    margin: 5px auto 15px auto;
  }

  .email-input {
    margin: 5px 0 40px 0;
    border: 1px solid rgb(209, 209, 209) !important;
    width: 90%;
    padding: 10px 0 10px 5px;
    margin: 5px auto 15px auto;
    border-radius: 3px;
    height: 350px;
  }

  .message-textarea {
    margin: 5px 0 40px 0;
    border: 1px solid rgb(209, 209, 209) !important;
    width: 90%;
    padding: 10px 0 10px 5px;
    margin: 5px auto 15px auto;
    border-radius: 3px;
    height: 125px;
    padding: 10px;
    box-sizing: border-box;
  }

  .chat-form {
    width: 393px;
    background: #fff;
    position: fixed;
    right: 5px;
    bottom: -1000px;
    transition: 0.2s ease-in;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  }

  .submit-btn {
    color: #fff;
    width: 90%;
    margin: 15px auto;
    padding: 10px 0;
    border-radius: 6px;
    border: var(--bs-primary);
    cursor: pointer;
  }

  .spinner {
    width: 50px;
    height: 50px;
  }

  .wrapSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;
  }

  .continueDiv {
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .continueDiv > a {
    background: #17a2b8;
    color: #fff;
    padding: 10px 45px;
    border-radius: 4px;
    text-decoration: none;
  }

  .error {
    border: 1px solid red !important;
  }

  .error-div {
    position: absolute;
    bottom: 56px;
    left: 18px;
  }

  .error-text {
    color: red;
  }

  .required {
    color: red;
  }

  .btn_closechat {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .btn_onlinechat_background > .chatIcon {
    width: 28px;
  }
}
