@import "../../../layouts/default/variables";

.footer-top {
  padding-top: 32px;
  padding-bottom: 16px;

  .nav {
    .nav-block {
      width: 100%;
      padding-bottom: map-get($map: $spacers, $key: 3);

      .nav-link {
        display: flex;
        align-items: center;
        gap: map-get($map: $spacers, $key: 1);
        margin-bottom: map-get($map: $spacers, $key: 1);
        padding: 0;

        &.active {
          text-decoration: underline;
          font-weight: 600;
        }

        &:hover {
          text-decoration: underline;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .footer-top .nav .nav-block {
    width: 33.33%;
    padding-right: map-get($map: $spacers, $key: 3);

    &.full {
      display: flex;
      flex-wrap: wrap;
      gap: map-get($map: $spacers, $key: 3);
      width: 100%;
    }
  }
}
