@import "../../../layouts/default/variables";

.footer-bottom {
  padding: 8px;

  .logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $body-color;

    & > img {
      flex-shrink: 0;
      width: $logo-sm;
      height: $logo-sm;
    }

    & > div {
      h5 {
        margin: 0 0 5px;
        color: $primary;
      }

      p {
        margin: 0 0 5px;
        font-size: 12px;
      }
    }
  }
}
