@import "../../layouts/default/variables";
@import "leaflet/dist/leaflet.css";

.map-container {
  overflow: hidden;
  width: 100%;
  height: 600px;

  .polygon-primary {
    stroke: $primary;
    stroke-opacity: 0.3;
    fill: $primary;
    fill-opacity: 0.2;

    &.active,
    &:hover {
      stroke-opacity: 0.4;
      fill-opacity: 0.3;
    }
  }

  .marker-primary {
    .fa-location-dot,
    .fa-location-pin {
      font-size: 32px;
      color: $primary;
      text-shadow: 0 0 1px $white;

      &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 14px;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }
}
