@import "/react4xp/shared/layouts/default/variables";

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 404px;
  }

  h2 {
    color: $primary;
    font-weight: 700;
  }

  p {
    font-weight: 600;
  }
}
