@import "/react4xp/shared/layouts/default/variables";

.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
