@import "../../../layouts/default/variables";

.pie-chart {
  .recharts-pie-labels {
    @include media-breakpoint-down(sm) {
      .recharts-layer {
        display: none;
      }
    }
  }

  .recharts-legend-wrapper {
    @include media-breakpoint-up(sm) {
      & {
        display: none;
      }
    }
  }
}
