@import "/react4xp/shared/layouts/default/variables";

.last-news {
  display: flex;
  flex-direction: column;
  gap: map-get($map: $spacers, $key: 3);

  .carousel {
    flex-basis: 40%;
    min-height: 480px;

    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
      padding: 16px 32px;
      background-color: $light;
      color: $primary;
      opacity: 1;
      border: 0;
      border-radius: 8px;
      text-indent: 0;
    }
  }

  .main-news {
    flex-basis: 60%;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    color: $light;

    .image,
    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: overlay;
      background-color: rgba($color: $dark, $alpha: 0.4);
    }

    .image::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(4px);
    }

    .overlay {
      opacity: 0.2;
    }

    .content {
      position: relative;
      z-index: 2;
      padding: map-get($map: $spacers, $key: 5);
    }
  }

  a.card {
    text-decoration: none;

    &:hover .card-title {
      color: $primary;
    }

    .img-fluid {
      height: 100%;
    }
  }

  .main-image {
    background-size: cover;
    background-position: center;
    min-height: 180px;
    max-height: 100%;
  }
}
