@import "../../../layouts/default/variables";

.header-top {
  padding: 8px;
  background-color: $light;

  .logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $body-color;

    & > img {
      flex-shrink: 0;
      width: $logo-sm;
      height: $logo-sm;
    }

    & > div {
      h5 {
        margin: 0 0 5px;
        color: $primary;
      }

      p {
        margin: 0 0 5px;
        font-size: 12px;
      }
    }
  }

  .btn-primary-light {
    background-color: $primary-light;
    color: $primary;
  }

  .dropdown-menu .forms {
    width: 300px;

    .nav-tabs .nav-link {
      color: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &.active {
        color: $primary;
      }
    }
  }

  .dropdown-menu .actions {
    display: flex;
    flex-direction: column;

    .btn:hover {
      color: $primary;
      background-color: $primary-light;
    }
  }
}
