@import "../../layouts/default/variables";

.weather {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 100%;
    margin-right: -1px;
    color: $light;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba($color: $light, $alpha: 0.1);

    &:hover {
      border-color: rgba($color: $light, $alpha: 0.2);
    }

    & > img {
      width: 32px;
      height: 32px;
      filter: brightness(2);
    }

    & > span {
      margin-top: -4px;
      margin-bottom: 5px;
    }
  }
}
