@import "/react4xp/shared/layouts/default/variables";

.global-search-result {
  .list-group-item-image,
  .list-group-item-image > .overlay {
    display: inline-block;
    width: 150px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .list-group-item-image > .overlay {
    background-color: rgba($color: $primary, $alpha: 0.98);
    background-blend-mode: overlay;
    opacity: 0.1;
  }
}
