.chat-form {
  .chat-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    text-align: center;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: var(--bs-gray-100);
  }

  .chat-container {
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 10px 0;
  }

  .chat-container::-webkit-scrollbar {
    width: 6px;
  }

  .chat-container::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .chat-container::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 20px;
    border: 3px solid #c0c0c0;
  }

  .chat-interface {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    padding: 10px;
  }

  .chat-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    flex-direction: row;
  }

  .chat-item_body {
    padding: 8px 16px;
    border: 1px solid var(--bs-gray-100);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    padding-right: 63px;
  }

  .operator {
    flex-direction: row;
  }

  .operator .chat-item,
  .client .chat-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .operator > .chat-item_body {
    padding-right: 36px !important;
    background-color: var(--bs-warning-bg-subtle);
    color: var(--gts);
  }

  .client {
    flex-direction: row-reverse;
  }

  .client > .chat-item_body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    align-self: flex-start;
    position: relative;
  }

  .new-message {
    margin-top: 1em;
    display: flex;
    border: 1px solid var(--bs-primary);
    width: 100%;
    position: relative;
    border-left: none;
    border-right: none;
    height: 120px;
  }

  .addFile {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8px;
  }

  .addFile > input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    border: 1px solid red;
    width: 34px;
  }

  .message-body {
    border: 0;
    padding: 1em 2rem;
    padding-left: 0px;
    width: 100%;
  }

  .message-body:focus {
    border: none;
    outline: none;
  }

  .message-button {
    background-color: var(--bs-info);
    border: none;
    padding: 0 1em;
    color: var(--bs-gray-100);
    cursor: pointer;
  }

  .figcaption-preloader {
    position: absolute;
    width: 16px;
    right: 4px;
    bottom: 1px;
    color: #a5a5a5;
    font-size: 13px;
  }

  .message_time {
    font-size: 10px;
    position: absolute;
    right: 28px;
    bottom: 2px;
  }

  .operator .message_time {
    right: 11px;
  }

  .message_date > .chat-item_body {
    margin: 0 auto;
    text-align: center;
    padding-right: 16px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
  }

  .emojis_container {
    width: 57px;
    height: 39px;
    margin-right: -16px;
  }

  .btnShowEmojis {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emojisShow {
    border: 1px solid red;
    position: absolute;
    border: 1px solid #dce8e8;
    background: #ffffff;
    width: 0;
    height: 0;
  }

  .emojis_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 3px;
    width: 397px;
    border: 1px solid #dce8e8;
    background: white;
    padding: 10px;
    left: -4px;
    z-index: 100;
  }

  .emojis_ul > li {
    width: 41px;
    cursor: pointer;
    font-size: 22px;
  }

  .emojis_ul > li:hover {
    scale: 1.5;
  }

  .message-button-two {
    border: 1px solid var(--bs-primary);
    border-color: #f1f0f0;
    background-color: #f1f0f0;
    border-radius: 50%;
    width: 52px;
    height: 37px;
    transform: translate(-5px, 3px);
  }

  .arrowUpIcon {
    color: #fff;
  }

  .message-button-two__active {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
    cursor: pointer;
  }

  .authorMessageName {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
  }

  .authorMessageName img {
    width: 25px;
  }

  .nameElement {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    color: var(--bs-primary);
  }

  .operator .nameElement {
    color: var(--bs-primary);
  }

  .message-body-text {
    color: var(--bs-gray-800);
  }

  .operator .message-body-text,
  .client .message-body-text {
    padding-left: 30px;
    font-size: 13px;
  }

  .operator .message-body-text {
    margin-right: 10px;
    color: var(--bs-primary);
  }

  /* addFile */

  .selected_file {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 155px;
    background: #ffffff;
    z-index: 100;
    box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.096);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 29px;
  }

  .selected_file > img {
    width: 100px;
    height: 100px;
  }

  .wrap-span {
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
    background: #fff;
    width: 20px !important;
    height: 20px !important;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.096);
  }
  .close-selected-file {
    color: var(--bs-gray-500);
  }

  .message_file_img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .file-button {
    padding: 10px;
    display: flex;
    border: 1px solid var(--bs-primary);
    cursor: pointer;
    float: right;
    margin-top: 9px;
  }

  .message_image {
    width: 117px;
    margin-right: 18px;
  }

  .operator .message_image {
    margin-right: 0;
  }

  .btn_download {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 63px;
    bottom: 7px;
    z-index: 100;
  }

  .files .message_time {
    bottom: none;
    top: 10px;
    right: 6px;
  }

  .files .chat-item_body {
    padding-right: 14px;
  }

  .client.files .chat-item_body {
    padding-right: 36px;
  }

  .files .btn_download {
    right: 7px;
  }

  .client.files .btn_download {
    right: 25px;
  }

  .message_block {
    margin-right: -6px;
    display: flex;
  }

  .operator .message_block {
    margin-right: -29px;
  }

  .document_icon {
    margin-right: 10px;
    width: 32px;
  }

  .message_children_block_item {
    font-size: 12px;
    width: 113px;
    word-wrap: break-word;
    margin-right: 10px;
  }

  .account_user {
    color: #a5a5a5;
    font-size: 14px;
  }

  .closeSmile {
    color: var(--bs-primary);
    font-size: 17px;
  }

  .closeChatIcon {
    font-size: 17px;
    color: #fff;
  }

  .smileIcon {
    font-size: 20px;
    color: #a5a5a5;
  }

  .downloadIcon {
    font-size: 18px;
  }

  .description_file {
    font-size: 28px;
    color: #a5a5a5;
    margin-right: 10px;
  }

  .attachIcon {
    color: #a5a5a5;
    font-size: 16px;
    transform: rotate(-44deg);
    margin-top: 3px;
  }
  .selected_file .description_file {
    font-size: 82px;
  }
}
