@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "flag-icons/css/flag-icons.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";

html,
body {
  height: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #fafbff;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main.content {
  flex: 1;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: map-get($map: $spacers, $key: 2);
  padding: 12px 16px;
  opacity: 0.9;
  border: 0;
  font-weight: 600;

  &:hover {
    opacity: 1;
  }
}

h1.title,
h2.title {
  display: flex;
  gap: 16px;
  margin-bottom: map-get($map: $spacers, $key: 3);
  color: $primary;
  font-weight: 900;

  &::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 5px;
    background-color: $warning;
  }
}

h2.title {
  font-weight: 700;

  &::before {
    width: 4px;
  }
}

.empty {
  width: 100%;
  padding: map-get($map: $spacers, $key: 5);
  text-align: center;
  color: $dark;
}

.required::after {
  content: "*";
  margin-left: map-get($map: $spacers, $key: 1);
  color: $danger;
}

.responsive-grid {
  --items: 1;
  --gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  &-item {
    min-width: 200px;
    width: calc((100% / var(--items)) - ((var(--items) - 1) / var(--items)) * var(--gap));
  }
}

@include media-breakpoint-up(md) {
  .responsive-grid {
    --items: 2;
  }
}

@include media-breakpoint-up(lg) {
  .responsive-grid {
    --items: 3;
  }
}
