/*
* Custom
*/

// Colors
$primary: #355db7;
$primary-light: #d0e5fb;
$primary-dark: #12203f;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.2;

// Logo
$logo-xl: 120px;
$logo-lg: 100px;
$logo-md: 80px;
$logo-sm: 60px;
$logo-xs: 40px;

// Banner
$banner-height: 550px;
$banner-indicators-height: 176px;
$banner-indicators-padding-top: 135px;

/*
* Bootstrap variables
*/
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
