@import "../../layouts/default/variables";

.rating_container {
  z-index: 1000;
  position: fixed;
  left: 9px;
  bottom: 20px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s ease-in-out;
}
.rate_content {
  -webkit-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
}
.rate_open_btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

.rate_btn {
  border-radius: 50%;
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 0px 10px 2px rgba(34, 60, 80, 0.2);
}
