@import "../../layouts/default/variables";

#currencies-carousel.carousel.slide {
  .carousel-inner {
    width: 77px;
    height: 100%;
    margin-right: -1px;
    color: $light;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba($color: $light, $alpha: 0.1);

    &:hover {
      border-color: rgba($color: $light, $alpha: 0.2);
    }

    .carousel-item {
      height: 100%;
      padding: map-get($map: $spacers, $key: 2);
      text-align: center;
    }
  }
}
