@import "/react4xp/shared/layouts/default/variables";

$overlayGradient: linear-gradient(180deg, $primary-dark 0%, transparent 200%);

.banner {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background: $overlayGradient;

  .carousel.slide {
    color: $light;

    .carousel-indicators {
      position: absolute;
      left: 0;
      right: 0;
      bottom: auto;
      height: $banner-indicators-height;
      padding-top: $banner-indicators-padding-top;
      margin: 0;
      z-index: 1;
      overflow: hidden;

      .custom-carousel-control-prev,
      .custom-carousel-control-next {
        background-color: initial;
        color: $light;
        border: 0;
        font-size: 24px;
        text-indent: 0;
      }

      .counter-current,
      .counter-length {
        margin: 0 8px;
        font-weight: 600;
      }

      .carousel-control-indicator {
        display: block;
        background-color: $success;
        width: 4px;
        height: 3px;

        &.active {
          width: 30px;
        }
      }
    }

    .carousel-item {
      height: $banner-height;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .overlay {
        height: $banner-height;
        padding-top: $banner-indicators-height + 16px;
        padding-bottom: 16px;
        background: $overlayGradient;
      }
    }
  }
}
