@import "/react4xp/shared/layouts/default/variables";

.statistics {
  display: flex;
  flex-direction: column;

  #statistics-tab {
    .btn {
      background-color: $white;

      &.active {
        background-color: $primary;
      }
    }
  }
}
