@import "../../../layouts/default/variables";

.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;

  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .intro {
    margin: 0;
  }
}
