@import "../../../layouts/default/variables";

.header-bottom {
  position: relative;
  z-index: 9;

  .overlay {
    background-color: rgba($color: $primary, $alpha: 0.9);

    &.transparent {
      position: absolute;
      left: 0;
      right: 0;
      background-color: rgba($color: $primary, $alpha: 0.1);
    }
  }

  .menu-toggler {
    margin-right: 16px;
    padding: 0;
    color: $light;

    i {
      font-size: 24px;
    }
  }

  .menu-content {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    top: 88px;

    .nav {
      max-height: 0;
      overflow: hidden auto;
      transition: all 0.3s ease;
      background-color: $white;

      .nav-block {
        width: 100%;
        padding: map-get($map: $spacers, $key: 3);

        .nav-link {
          display: flex;
          align-items: center;
          gap: map-get($map: $spacers, $key: 1);
          margin-bottom: map-get($map: $spacers, $key: 1);
          padding: 0;

          &.active {
            text-decoration: underline;
            font-weight: 600;
          }

          &:hover {
            text-decoration: underline;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    &.open .nav {
      max-height: 600px;
    }
  }

  .dropdown {
    .btn {
      gap: map-get($map: $spacers, $key: 1);
      height: 100%;
      padding: 16px 8px;
      color: $light;
      border-radius: 0;
      border-left: 1px solid;
      border-right: 1px solid;
      border-color: rgba($color: $light, $alpha: 0.1);

      &:hover {
        border-color: rgba($color: $light, $alpha: 0.2);
      }
    }

    .dropdown-menu {
      min-width: 54px;
    }
  }
}

@include media-breakpoint-up(md) {
  .header-bottom .menu-content .nav .nav-block {
    width: 33.33%;

    &.full {
      display: flex;
      flex-wrap: wrap;
      gap: map-get($map: $spacers, $key: 3);
      width: 100%;
    }
  }

  .nav-menu {
    max-height: 600px !important;
    background-color: transparent !important;
  }

  .menu-content {
    position: static !important;
  }

  .menu-toggler {
    display: none !important;
  }

  .icon-image {
    filter: brightness(0) saturate(100%) invert(91%) sepia(99%) saturate(42%) hue-rotate(195deg) brightness(108%)
      contrast(99%);
  }

  .nav-link-text {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, var(--bs-text-opacity)) !important;
  }
}
