@import "/react4xp/shared/layouts/default/variables";

.article {
  display: flex;
  flex-direction: column;
  gap: map-get($map: $spacers, $key: 3);

  .tab-content {
    a.card {
      text-decoration: none;

      &:hover .card-title {
        color: $primary;
      }

      .img-fluid {
        height: 100%;
      }
    }
  }

  .main-image {
    background-size: cover;
    background-position: center;
    min-height: 180px;
    max-height: 100%;
  }
}
