@import "/react4xp/shared/layouts/default/variables";

.link {
  display: flex;
  flex-direction: column;

  .tab-pane.active {
    .card {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-blend-mode: overlay;
      background-color: rgba($color: $white, $alpha: 0.98);

      .card-title img {
        max-width: 70px;
      }

      .card-body {
        z-index: 2;
      }

      .btn.btn-primary {
        display: none;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        background-color: $primary-light;
      }

      &:hover {
        background-color: rgba($color: $white, $alpha: 0.97);

        .card-title {
          color: $primary;
        }

        .overlay {
          opacity: 0.5;
        }
      }
    }

    .btn-primary {
      width: max-content;
    }
  }
}
