@import "../../layouts/default/variables";

.import-calculator {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  align-items: end;

  .form-control {
    min-height: 38px;
  }

  .errorMsg {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
  }
}
