@import "../../layouts/default/variables";

.global-search {
  position: relative;

  .input-group {
    .btn-clear,
    .btn-search {
      background-color: $white;
      opacity: 1;

      &:hover {
        background-color: $light;
      }
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    max-height: 600px;
    overflow: auto;
    background-color: $white;

    .list-group-item-image,
    .list-group-item-image > .overlay {
      display: inline-block;
      width: 50px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .list-group-item-image > .overlay {
      background-color: rgba($color: $primary, $alpha: 0.98);
      background-blend-mode: overlay;
      opacity: 0.1;
    }
  }
}
