@import "../../layouts/default/variables";

.footer {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba($color: $white, $alpha: 0.98);
  border-top: 1px solid $light;
}
